<html>
<head>
    <script type="text/javascript" src="scripts/common-0.0.1.js"></script>
    <script type="text/javascript">
    
    </script>
</head>
<style>
    body {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    }
    
</style>
<body>
<div id="scriptTaskAdmin">
  Nothing to see here... yet.
</div>
</body>
</html>