<html>
<head>
    <script type="text/javascript" src="scripts/common-0.0.1.js"></script>
    <script type="text/javascript">
        parent.pluginHandler.scripttask.onDeviceRefreshEnd = function() {
            return false;
        }
    </script>
</head>
<style>
    body {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    }
    
</style>
<body>
<div id="scriptTaskAdmin">
  MeshCentral Installs without the MongoDB database type enabled are currently not supported in this plugin.<br />
  I'll be reviewing feedback to see if this is something that should be implemented in the future.
</div>
</body>
</html>